@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 768px) {
  .default {
    display: none;
  }
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none;
}

.hideme {
  display: none;
}

html {
  scroll-behavior: smooth;
  background-color: #121212;
}